*{
    margin: 0%;
    padding: 0%;
}
.parent{
    /* background-color: rgb(248, 244, 244); */
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
body{
    background-image: url("./images/background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.col{
    width: 393px;
    height: 478px;
    border: 3px black solid;
    border-radius: 50px;
 background-color: white;
 display: flex;
 flex-direction: column;
 align-items: center;

    box-shadow: 0px 10px rgb(21, 21, 21);
  opacity: 1;
 
}
img {
    height: 259px;
    width: 386px;
    border-radius:30px ;
 
}
h1{
    text-align: center;
   
   width: 100%;
}
button{
    color: rgb(255, 251, 251);
    background-color: rgb(11, 3, 4);
    width: 70%;
    margin-top: 1rem;
    height: 40px;
}
button:hover{
    color:black ;
    background-color: white;

}